<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 3: Python Sorting
    </p>
    <div class="text learn">
      <p class="lessonContent">
        The easiest way to sort is with the sorted(list) function, which takes a list and returns a new list with those elements in sorted order. The original list is not changed.
      </p>
      <p class="exampleCode">
        a = [<span class="lit">5</span>, <span class="lit">1</span>, <span class="lit">4</span>, <span class="lit">3</span>] <br>
        <span class="kwd">print</span> sorted(a) <span class="comment">## [1, 3, 4, 5]</span> <br>
        <span class="kwd">print</span> a  <span class="comment">## [5, 1, 4, 3]</span>
      </p>
      <p class="lessonContent">
        It's most common to pass a list into the sorted() function, but in fact it can take as input any sort of iterable collection. The older list.sort() method is an alternative detailed below. The sorted() function seems easier to use compared to sort(), so I recommend using sorted().
        The sorted() function can be customized through optional arguments. The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.      
      </p>
      <p class="exampleCode">
        strs = [<span class="str">'aa'</span>, <span class="str">'BB'</span>, <span class="str">'zz'</span>, <span class="str">'CC'</span>]<br>
        <span class="kwd">print</span> sorted(strs)  <span class="comment">## ['BB', 'CC', 'aa', 'zz'] (case sensitive)</span><br>
        <span class="kwd">print</span> sorted(strs, reverse=<span class="kwd">True</span>)    <span class="comment">## ['zz', 'aa', 'CC', 'BB']</span><br>
      </p>       
    </div>
  </div>
</div>