<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="carousel-caption text-right">
            <h1>Coding Made Simple</h1>
            <p>Join hundreds of other learners on Code Space</p>
            <p><button type="button" class="btn btn-lg btn-primary" (click)="openModal()"><span>Get started today</span></button>
        </div>
      <img class="center-fit" src="./assets/img/labWork.jpeg">
    </div>
    <div class="carousel-item">
        <div class="carousel-caption text-left">
            <h1>Learn Python</h1>
            <p>Click below to learn the most used coding language</p>
            <p><button type="button" class="btn btn-lg btn-primary" (click)="openModal()"><span>Get started today</span></button>
        </div>
        <img class="center-fit" src="./assets/img/labWork2.jpeg">
      </div>
    <div class="carousel-item">
        <div class="carousel-caption text-right">
            <h1>Coding Made Simple</h1>
            <p>Join hundreds of other learners on Code Space</p>
            <p><button type="button" class="btn btn-lg btn-primary" (click)="openModal()"><span>Get started today</span></button>
        </div>
      <img class="center-fit" src="./assets/img/labWork3.jpeg">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>     

