<div class="main">
    <div class="content">
      <p class ="text lesson-title">
        Chapter 5: Regular Expressions - Repetition
      </p>
      <div class="text learn">
        <p class="lessonContent">
            Things get more interesting when you use + and * to specify repetition in the pattern
        </p>     
        <ul class="lessonContent">
          <li>+ -- 1 or more occurrences of the pattern to its left, e.g. 'i+' = one or more i's</li>
          <li>* -- 0 or more occurrences of the pattern to its left</li>
          <li>? -- match 0 or 1 occurrences of the pattern to its left</li>                  
        </ul>  
        <p class ="text lesson-smallTitle">
          Leftmost & Largest
        </p>
        <p class="lessonContent">
          First the search finds the leftmost match for the pattern, and second it tries to use up as much of the string as possible -- i.e. + and * go as far as possible (the + and * are said to be "greedy").
        </p>
      </div>
    </div>
  </div>