<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 2: Python Lists
    </p>
    <div class="learn">
      <p class="text lessonContent">
        Python has a great built-in list type named "list". List literals are written within square brackets [ ]. Lists work similarly to strings -- use the len() function and square brackets [ ] to access data, with the first element at index 0. 
      </p>    
      <p class="exampleCode">
        colors = ['red', 'blue', 'green'] <br>
        print colors[0]    ## red<br>
        print colors[2]    ## green<br>
        print len(colors)  ## 3<br>
      </p>   
      <p class="text lessonContent">
        Assignment with an = on lists does not make a copy. Instead, assignment makes the two variables point to the one list in memory.
      </p>   
      <p class="exampleCode">
        b = colors   ## Does not copy the list 
      </p>
      <p class="text lessonContent">
        The "empty list" is just an empty pair of brackets [ ]. The '+' works to append two lists, so [1, 2] + [3, 4] yields [1, 2, 3, 4] (this is just like + with strings).
      </p>  
    </div>
  </div>
</div>