<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 2: Python Lists - FOR and IN
    </p>
    <div class="learn">
      <p class="text lessonContent">
        Python's *for* and *in* constructs are extremely useful, and the first use of them we'll see is with lists. The *for* construct -- for var in list -- is an easy way to look at each element in a list (or other collection). Do not add or remove from the list during iteration.      </p>    
      <p class="exampleCode">
        squares = [<span class="lit">1</span>, <span class="lit">4</span>, <span class="lit">9</span>, <span class="lit">16</span>]<br>
        sum = <span class="lit">0</span><br>
        <span class="kwd">for</span> num <span class="kwd">in</span> squares:<br>
          sum += num <br>
        <span class="kwd">print</span> sum  <span class="comment">## 30 </span><br>
      </p>   
      <p class="text lessonContent">
        If you know what sort of thing is in the list, use a variable name in the loop that captures that information such as "num", or "name", or "url". Since python code does not have other syntax to remind you of types, your variable names are a key way for you to keep straight what is going on.
        The *in* construct on its own is an easy way to test if an element appears in a list (or other collection) -- value in collection -- tests if the value is in the collection, returning True/False.      </p>   
      <p class="exampleCode">
        list = [<span class="str">'larry'</span>, <span class="str">'curly'</span>, <span class="str">'moe'</span>] <br>
        <span class="kwd">if</span> 'curly' <span class="kwd">in</span> list:<br>
        <span class="kwd">print</span> <span class="str">'yay'</span><br>
      </p>
      <p class="text lessonContent">
        The for/in constructs are very commonly used in Python code and work on data types other than list, so you should just memorize their syntax. You may have habits from other languages where you start manually iterating over a collection, where in Python you should just use for/in.

        You can also use for/in to work on a string. The string acts like a list of its chars, so for ch in s: print ch prints all the chars in a string.      </p>  
    </div>
  </div>
</div>