<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 3: Python Python Dict and File - Del
    </p>
    <div class="text learn">
      <p class="lessonContent">
        The "del" operator does deletions. In the simplest case, it can remove the definition of a variable, as if that variable had not been defined. Del can also be used on list elements or slices to delete that part of the list and to delete entries from a dictionary.      </p>
      <p class="exampleCode">
        var = 6<br>
        del var  # var no more!<br>
        <br>
        list = &#91;'a', 'b', 'c', 'd'&#93;<br>
        del list&#91;0&#93;    ## Delete first element<br>
        del list&#91;-2:&#93;   ## Delete last two elements<br>
        print list      ## &#91;'b'&#93;<br>
        <br>
        dict = &#123;'a':1, 'b':2, 'c':3&#125;<br>
        del dict&#91;'b'&#93;   ## Delete 'b' entry<br>
        print dict      ## &#123;'a':1, 'c':3&#125;<br>
      </p>
    </div>
  </div>
</div>