<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 4: Python Python Dict and File - Del
    </p>
    <div class="text learn">
      <p class="lessonContent">
        The "del" operator does deletions. In the simplest case, it can remove the definition of a variable, as if that variable had not been defined. Del can also be used on list elements or slices to delete that part of the list and to delete entries from a dictionary.      </p>
      <p class="exampleCode">
        <span class="kwd">var</span> = 6<br>
        <span class="kwd">del var</span>  <span class="comment"># var no more!</span><br>
        <br>
        list = &#91;<span class="str">'a'</span>, <span class="str">'b'</span>, <span class="str">'c'</span>, <span class="str">'d'</span>&#93;<br>
        <span class="kwd">del</span> list&#91;0&#93;    <span class="comment">## Delete first element</span><br>
        <span class="kwd">del</span> list&#91;-2:&#93;   <span class="comment">## Delete last two elements</span><br>
        <span class="kwd">print</span> list      <span class="comment">## &#91;'b'&#93;</span><br>
        <br>
        dict = &#123;<span class="str">'a'</span>:<span class="lit">1</span>, <span class="str">'b'</span>:<span class="lit">2</span>, <span class="str">'c'</span>:<span class="lit">3</span>&#125;<br>
        <span class="kwd">del</span> dict&#91;<span class="str">'b'</span>&#93;   ## Delete 'b' entry<br>
        <span class="kwd">print</span> dict      <span class="comment">## &#123;'a':1, 'c':3&#125;</span><br>
      </p>
    </div>
  </div>
</div>