<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 1: Strings Basics
    </p>
    <div class="text learn">
      <p class="lessonContent">
        Python has a built-in string class named "str" with many handy features (there is an older module named "string" which you should not use). String literals can be enclosed by either double or single quotes, although single quotes are more commonly used. Backslash escapes work the usual way within both single and double quoted literals -- e.g. \n \' \". A double quoted string literal can contain single quotes without any fuss (e.g. "I didn't do it") and likewise single quoted string can contain double quotes. A string literal can span multiple lines, but there must be a backslash \ at the end of each line to escape the newline. String literals inside triple quotes, """ or ''', can span multiple lines of text.
        Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values. So for example the expression ('hello' + 'there') takes in the 2 strings 'hello' and 'there' and builds a new string 'hellothere'.
        Characters in a string can be accessed using the standard [ ] syntax, and like Java and C++, Python uses zero-based indexing, so if s is 'hello' s[1] is 'e'. If the index is out of bounds for the string, Python raises an error. The Python style (unlike Perl) is to halt if it can't tell what to do, rather than just make up a default value. The handy "slice" syntax (below) also works to extract any substring from a string. The len(string) function returns the length of a string. The [ ] syntax and the len() function actually work on any sequence type -- strings, lists, etc.. Python tries to make its operations work consistently across different types. Python newbie gotcha: don't use "len" as a variable name to avoid blocking out the len() function. The '+' operator can concatenate two strings. Notice in the code below that variables are not pre-declared -- just assign to them and go.  
        <br>
        Example: 
      </p>
        <p class="exampleCode">
          s = 'hi'  <br>
          print s[1]          ## i  <br>
          print len(s)        ## 2  <br>
          print s + ' there'  ## hi there <br>
        </p>
    </div>
  </div>
  <!-- <hr class="featurette-divider">
  <div class="subheading">
      <p class ="text lesson-title">
          Exercise 1 - Basic String Exercises
      </p>
      <div class="text subheadingContent">
          <p class="lessonContent">
              # Basic string exercises
              # Fill in the code for the functions below. main() is already set up
              # to call the functions with a few different inputs,
              # printing 'OK' when each function is correct.
              # The starter code for each function includes a 'return'
              # which is just a placeholder for your code.
              # It's ok if you do not complete all the functions, and there
              # are some additional functions to try in string2.py.
          </p>
        </div>
  </div> -->
</div>