<div id="wrapper">
    <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item divider">
        Menu
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/dashboard/">
        <span data-feather="home"></span>
        Dashboard <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/coding/">
        <span data-feather=""></span>
        Learn
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/chat/">
        <span data-feather=""></span>
        Chat
      </a>
    </li>
    <li class="nav-item divider">
        More
    </li>
    <li class="nav-item">
        <a class="nav-link help" (click)="openModal()">
          <span data-feather=""></span>
          Help
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/settings/">
          <span data-feather=""></span>
          Settings
        </a>
    </li>
  </ul>

    <!-- Main Content -->
    <div id="content-wrapper">
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard/">Dashboard</a>
            </li>
          </ol>
          
        <!-- Welcome message -->
        <div class="row">
          <div class="col-12">
            <div class="gradient"> 
              <div class="about col-8">
                <div class="col-4 avatar">

                </div>
                <div class="col-8 description">
                  <div class="message">
                    welcome back!
                  </div>
                  <div class="user">
                    Libbyj98
                  </div>
                </div>
              </div>
              <div class="col-4 description">
                <div class="message">
                  Level 1
                </div>
                <div class="user">
                  1500 points
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Get Started -->
        <div class="row">
          <div class="col-12">
            <h4 class="text">
              Get Started Now
            </h4>
          </div>
        </div>
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">Learn Python 2</h5>
            <p class="card-text">Python is one the three most popular interpreted languages. Taught in numerous schools globally</p>
          </div>
        </div>

        <!-- Chat
        <div class="row chat">
          <div class="col-12">
            <h4 class="text">
              Chat
            </h4>
          </div>
        </div>
        <div class="card col-12">
          <div class="card-body">
            <h5 class="card-title">Chat </h5>
            <p class="card-text">Python is one the three most popular interpreted languages. Taught in numerous schools globally</p>
          </div>
        </div> -->


    </div>
</div>
