<div class="typewriter css-typing" *ngIf="leave" [@slideOut] > 
    <p>
        {{typewriter_line1}}
    </p>
    <p>
        {{typewriter_line2}}
    </p>
    <p>
        {{typewriter_line3}}
    </p>
</div>
<div class="questions" *ngIf="enter" [@slideIn]>
    <h2 class="header">Alright, do you have any previous coding experience?</h2>
  <form>
    <p>
      <label class="options">
          <input type="checkbox" value="new" name="new"> I'm new to coding
      </label>
    </p>
    <p>
      <label class="options">
          <input type="checkbox" value="intermediate" name="intermediate">
          I have done a bit of coding 
      </label>
    </p>
    <p>
      <label class="options">
          <input type="checkbox" value="advanced" name="advanced">
          I am comfortable in one coding language already
      </label>
    </p>
      <button type="submit" class="btn btn-success">GO!</button>
  </form>
  </div>

 