<!-- CAROUSEL -->
<app-carousel></app-carousel>
<!-- ABOUT -->
<div class="container main">
    <hr> 
    <p class="text-center text-header"> Introducing <span class="purple"> Code Space </span> </p>
    <div class="row"> 
        <div class="col-sm-4 d-flex marketing">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Practise Smarter</h5>
                    <p class="card-text"> Allows you to practise exercises within the application itself without any installations </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex marketing">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Compete with Peers</h5>
                    <p class="card-text">Code Space allows learners the ability to add friends and compete on the site</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex marketing">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Code Wherever, Whenever</h5>
                    <p class="card-text">Don't have access to a computer? No problem, you simply need a mobile device or a tablet for the site</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div> 

<!-- FEATURETTES -->
<section class = "features">
    <div class = "container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5 offset-lg-1 order-md-2">
                <div class="img-effect img-effect-solid mb-5 mb-md-0">
                    <img class="img-fluid" src="/assets/img/cs_60.jpeg">
                </div>
            </div>
        <div class="col-md-6 col-lg-4 offset-lg-1 order-md-1">
                <h2 class="featurette-heading">Learning to Code has never been so simple</h2>
                <div class = "text-left feature-text">
                    Code Space's online tutorials easily allow students of any ability to learn python. Get started coding today! 
                </div>
                <button type="button" class="btn btn-lg btn-primary" (click)="openModal()"><span>Sign Up</span></button>
            </div>
        </div>
        <hr class="featurette-divider">

    </div>
</section>
<!-- /REVIEW -->
<section class = "gradient text-white space-lg">
    <div class = "container review">
        <div class="row justify-content-center">
                <div class="col-md- media">
                    <img class="avatar" src="/assets/img/cs_15.jpeg">
                </div>
                <div class="col-md-8 media-text">
                    <h2 class="review-heading">“Coding is such a vital skill today and Code Space is a great way to start learning”</h2>
                    <span> Emma, Warwick University</span>
                </div>
        </div>
    </div>
</section>