<!-- CAROUSEL -->
<app-carousel></app-carousel>
<!-- ABOUT -->
<div class="container main">
    <hr>
    <p class="text-center text-header"> Key features of <span class="purple"> Code Space </span> </p>
    <div class="row">
        <div class="col-4 d-flex marketing">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Practise Smarter</h5>
                    <p class="card-text"> Puts coding into broader scenarios. Allows you to learn with a more applied approach</p>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex marketing">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Peer Coding</h5>
                    <p class="card-text">Code Space allows learners the ability to code simultaneously to solve a problem</p>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex marketing">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chat to peers</h5>
                    <p class="card-text">Stuck on a problem? Simply message other learners on the forum to get their help on solving a problem </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>

<!-- FEATURETTES -->
<section class = "features">
    <div class = "container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5 offset-lg-1 order-md-2">
                <div class="img-effect img-effect-solid mb-5 mb-md-0">
                    <img class="img-fluid" src="/assets/img/cs_60.jpeg">
                </div>
            </div>
        <div class="col-md-6 col-lg-4 offset-lg-1 order-md-1">
                <h2 class="featurette-heading">Learning to Code has never been so simple</h2>
                <div class = "text-left feature-text">
                    Code Space's online tutorials easily allow students of any ability to learn coding. Get started coding today! 
                </div>
                <button type="button" class="btn btn-lg btn-primary" (click)="openModal()"><span>Sign Up</span></button>
            </div>
        </div>

    </div>
</section>
<!-- /REVIEW -->
<section class = "gradient text-white space-lg">
    <div class = "container review">
        <div class="row justify-content-center">
                <div class="col-md- media">
                    <img class="avatar" src="/assets/img/cs_15.jpeg">
                </div>
                <div class="col-md-8 media-text">
                    <h2 class="review-heading">“Coding is such a vital skill today and Code Space is a great way to start learning”</h2>
                    <span> Emma, Warwick University</span>
                </div>
        </div>
    </div>
</section>