.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display: block;
}

.carousel {
margin-bottom: 4rem;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
height: 40rem;
}
.carousel-item > img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
height: 100%;
vertical-align: middle;
object-fit: cover;
display: inline-block; /* change the default display type to inline-block */
overflow: hidden;      /* hide the overflow */
}
      

.main{ 
    margin-top: 7.0625rem; 
    margin-bottom: 3.0625rem; 
}

.text-header{
    font-size: 30px;
    padding-bottom:  2.0625rem;
    padding-top:  3.0625rem;
}

.purple{
    color: #5648ff;
}
/* Marketing
------------------------- */
.marketing{
    margin-bottom: 1.5rem;
    text-align: center;
}

.text{
    font-size: 20px;
}

.about{
    margin-top: 9.0625rem; 
    margin-bottom: 9.0625rem; 
}


/* Featurettes
------------------------- */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 500;
    font-family: Objective,sans-serif;
    line-height: 1.35;
    font-size: 35px;
    letter-spacing: -.05rem;
    margin-bottom: 1.5rem!important;
}

.features{
    margin-top: 7.0625rem; 
    margin-bottom: 7.0625rem; 
}

.feature-text{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: Objective,sans-serif;
    color: #828a91!important;
    line-height: 1.75;
}

.img-effect-solid:before{
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 10%;
    left: 0;
    content: "";
    background-color: #5648ff;
}

.img-effect, .img-effect>img{
    position: relative;
}

.img-effect>img{
    box-shadow:0 25px 100px -5px rgba(0,0,0,.15);
    z-index: 1;
}

.img-effect-solid{
    padding-left: 20%;
    padding-right: 10%;
}

.img-effect{
    position: relative;
}


/* Review
------------------------- */
.review {
    color: white;
}

/* Thin out the marketing headings */
.review-heading {
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.05rem;
    padding-bottom: 15px;
    font-family: Objective,sans-serif;

}
.gradient{
    background-image: linear-gradient(135deg, #5648ff 0%, #21c87a 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 4.5rem 0;
    position: relative;

}
  
.media{
    margin-right: 1.5rem;
    padding: 0;
}

.avatar{
    width:7.5rem;
    height: 7.5rem;
    border-radius: 50%;
}

.media-body{
    float: right;
}

