<!-- This component displays the app header and footer -->
<nav class="navbar navbar-expand-lg fixed-top" [ngClass] = "(scrolled ? 'bg-white' : 'navbar-transparent')" >
  <div class="container underline"> 
  <a class="navbar-brand" [ngClass] = "(scrolled ? 'title' : 'title-transparent')" href="/">Code Space</a>
  <button class="navbar-toggler" [ngClass]="(scrolled ? 'navbar-light' : 'navbar-dark')" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggle">
    <nav aria-label="links">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item navbar-right">
              <a class="nav-link" [ngClass] = "(scrolled ? 'logIn' : 'logIn-transparent')" (click)="openLoginModal()">Log In </a>
          </li>
          <li class="nav-item navbar-right">
            <a class="nav-link" [ngClass] = "(scrolled ? 'signUp' : 'signUp-transparent')" (click)="openSignupModal()">Sign Up</a>
          </li>
        </ul>
    </nav>
  </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class = "bg-dark">
  <div class="container space-2">
      <div class="text-center footer">All rights reserved. © Code Space </div>
  </div>
</footer>

