<div id="wrapper">
    <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item divider">
        Menu
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/">
        <i class="fa fa-tachometer userInfo color" aria-hidden="true"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/coding/">
        <i class="fa fa-laptop userInfo color" aria-hidden="true"></i>
        Code
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="/chat/">
        <span data-feather=""></span>
        Chat
      </a>
    </li> -->
    <li class="nav-item divider">
        More
    </li>
    <li class="nav-item">
        <a class="nav-link help" (click)="openModal()">
          <i class="fa fa-question-circle userInfo color" aria-hidden="true"></i>
          Help
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/dashboard/settings">
          <i class="fa fa-cog userInfo colorActive" aria-hidden="true"></i>
          Settings
        </a>
    </li>
  </ul>
  
    <!-- Main Content -->
    <div id="content-wrapper">
      <div class="container-fluid">
  
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard/settings">Settings
              </a>
            </li>
          </ol>
  
          <div class="card update">
            <div class="details">
              <form #signUpForm="ngForm">
                  <p class="main"> Account Information </p>
                  <div class="form-group labels">
                      <label for="name">Name</label>
                      <input type="text" [(ngModel)]="currentUser.name" class="form-control labels" id="name" name="name" #name="ngModel" placeholder="{{currentUser.name}}"> 
                  </div>
                  <div class="form-group labels">
                      <label for="email">* Email (required)</label>
                      <input type="text" [(ngModel)]="currentUser.email" class="form-control labels" id="email" name="email" #email="ngModel" placeholder="{{currentUser.email}}" required> 
                      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger text-center">
                        <div [hidden]="!email.errors.required">
                          Email is required
                        </div>
                      </div>
                    </div>
                  <div class="form-group labels">
                      <label for="username">* Username (required)</label>
                          <input type="text" class="form-control labels" [(ngModel)]="currentUser.username" id="username" name="username" #username="ngModel" placeholder="{{currentUser.username}}" required>
                        <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger text-center">
                          <div [hidden]="!username.errors.required">
                            Username is required
                          </div>
                        </div>
                    </div>
                    <!-- <div class="form-group labels">
                        <label for="level"> Development Experience </label>
                        <div class="row options">
                          <div class="radio levelOptions">
                            <label><input type="radio" [(ngModel)]="currentUser.level" id="level" name="level" value="beginner">Learning to Program</label>
                          </div>
                          <div class="radio levelOptions">
                            <label><input type="radio" [(ngModel)]="currentUser.level" id="level" name="level" value="intermediate">Intermediate Programmer</label>
                          </div>
                          <div class="radio levelOptions">
                            <label><input type="radio" [(ngModel)]="currentUser.level" id="level" name="level" value="advanced">Advanced Programmer</label>
                          </div>
                        </div>
                    </div> -->
                    <!-- <h6 class="main"> Update Password</h6>
                    <div class="form-group labels">
                        <div class="row">
                          <div class="col-6">
                            <label for="password"> New Password </label>
                            <input type="passwords" class="form-control labels" [(ngModel)]="currentUser.password" id="password" name="password" #password="ngModel" required>
                          </div>
                          <div class="col-6">
                            <label for="password"> Confirm New Password </label>
                            <input type="passwords" class="form-control labels" id="password" name="password" required>
                          </div>
                        </div>
                        <label for="password"> Current Password </label>
                        <input type="passwords" class="form-control labels" id="password" name="password" #password="ngModel" required>
                    </div> -->
                  <div class="buttons">
                    <button class="btn btn-primary pad confirm" (click)="editUser()">
                        <i class="fa fa-pencil space" aria-hidden="true"></i>
                      Update Account
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="card deleteCard">
                <div class="details">
                  <form #signUpForm="ngForm">
                      <h6 class="main"> Delete Account</h6>
                      <div class="delete labels">
                        If you wish you can delete your account by simply clicking the button below. After deleting your account you are free to sign up again using the same email address.
                      </div>
                      <div class="buttons">
                          <button class="btn btn-secondary confirm" (click)="openDeleteModal()">
                              <i class="fa fa-trash-o space" aria-hidden="true"></i>
                            Delete Account
                          </button>
                      </div>
                  </form>
                </div>
            </div>
      </div>
    </div>
  </div>
  