<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 3: Python Python Dict and File - Dict Formatting
    </p>
    <div class="text learn">
      <p class="lessonContent">
        The % operator works conveniently to substitute values from a dict into a string by name:
      </p>
      <p class="exampleCode">
        hash = &#123;&#125;<br>
        hash&#91;'word'&#93; = 'garfield'<br>
        hash&#91;'count'&#93; = 42<br>
        s = 'I want %(count)d copies of %(word)s' % hash  # %d for int, %s for string<br>
        # 'I want 42 copies of garfield'<br>
      </p>
    </div>
  </div>
</div>