<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 4: Python Python Dict and File - Dict Formatting
    </p>
    <div class="text learn">
      <p class="lessonContent">
        The % operator works conveniently to substitute values from a dict into a string by name:
      </p>
      <p class="exampleCode">
        hash = &#123;&#125;<br>
        hash&#91;<span class="str">'word'</span>&#93; = <span class="str">'garfield'</span><br>
        hash&#91;<span class="str">'count'</span>&#93; = 42<br>
        s = <span class="str">'I want %(count)d copies of %(word)s'</span> % hash  <span class="comment"># %d for int, %s for string</span><br>
        <span class="comment"># 'I want 42 copies of garfield'</span><br>
      </p>
    </div>
  </div>
</div>