<div class="main">
    <div class="content">
      <p class ="text lesson-title">
        Chapter 1: String Slices
      </p>
      <div class="text learn">
        <p class="lessonContent">
            The "slice" syntax is a handy way to refer to sub-parts of sequences -- typically strings and lists. The slice s[start:end] is the elements beginning at start and extending up to but not including end. Suppose we have s = "Hello"
            the string 'hello' with letter indexes 0 1 2 3 4
        </p>
        <ul class="lessonContent">
          <li>s[1:4] is 'ell' -- chars starting at index 1 and extending up to but not including index 4 </li>
          <li>s[1:] is 'ello' -- omitting either index defaults to the start or end of the string</li>
          <li>s[:] is 'Hello' -- omitting both always gives us a copy of the whole thing (this is the pythonic way to copy a sequence like a string or list)</li>
          <li>s[1:100] is 'ello' -- an index that is too big is truncated down to the string length.</li>
        </ul>        
        <p class="lessonContent">
          The standard zero-based index numbers give easy access to chars near the start of the string. As an alternative, Python uses negative numbers to give easy access to the chars at the end of the string: s[-1] is the last char 'o', s[-2] is 'l' the next-to-last char, and so on. Negative index numbers count back from the end of the string:
        </p>
        <ul class="lessonContent">
          <li>s[-1] is 'o' -- last char (1st from the end)
          <li>s[-4] is 'e' -- 4th from the end </li>
          <li>s[:-3] is 'He' -- going up to but not including the last 3 chars. </li>
          <li>s[-3:] is 'llo' -- starting with the 3rd char from the end and extending to the end of the string.</li>
        </ul> 
        <p class="lessonContent">
          It is a neat truism of slices that for any index n, s[:n] + s[n:] == s. This works even for n negative or out of bounds. Or put another way s[:n] and s[n:] always partition the string into two string parts, conserving all the characters. As we'll see in the list section later, slices work with lists too.
        </p>
    </div>
    </div>
  </div>