.text{
    color: black;
}

.main{
    padding-left: 15px;
    justify-content: space-between;
    padding-right: 15px;
    height: 100%;
}

.lesson-title{
    font-size: 16px;
    font-weight: 350;
    line-height: 2rem;
    color: #5648ff;
}

.lessonContent{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
}

.exampleCode{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f7f7f7;
}

// .learn{
//     overflow: auto !important;
//     min-height: calc(48vh - 102px) !important;  
//     height: calc(48vh - 102px) !important;  
// }

// @media (min-width: 768px) {
    .learn{
        overflow: auto !important;
        min-height: calc(60vh - 105px) !important;  
        height: calc(60vh - 105px) !important;  
    }
// }


.kwd{
    color: #3b78e7;
}
    
.comment{
    color: #d81b60;
}

.lit{
    color: #c53929;
}

.typ{
    color: #9c27b0;
}