<div class="main">
    <div class="content">
      <p class ="text lesson-title">
        Exercise 5: Regular Expressions
      </p>
      <div class="learn">
        <p class="text lessonContent">
          Fill in the code for the 2 functions. 
          <br>
          main() is already set up to call the functions with a few different inputs, printing 'OK' when each function is correct.
          The starter code for each function includes a 'return' which is just a placeholder for your code.
        </p>       
        <!-- <button type="button" class="btn btn-lg btn-primary begin" (click)="begin()"><span>Begin</span></button> -->
      </div>
    </div>
  </div>