<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 2: Python Lists - Methods
    </p>
    <div class="learn">
      <p class="text lessonContent">
        List Methods
        Here are some other common list methods:
      </p>
        <ul class="lessonContent">
          <li>list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.</li>
          <li>list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.</li>
          <li>list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().</li>
          <li>  list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).</li>
          <li> list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)</li>
          <li> list.sort() -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)</li>
          <li>list.reverse() -- reverses the list in place (does not return it)</li>
          <li>list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).</li>
        </ul>
        <p class="lessonContent">
          Notice that these are *methods* on a list object, while len() is a function that takes the list (or string or whatever) as an argument.
        </p>
        <p class="exampleCode">
          list = [<span class="str">'larry'</span>, <span class="str">'curly'</span>, <span class="str">'moe'</span>]<br>
          list.append(<span class="str">'shemp'</span>)         ## append elem at end <br>
          list.insert(0, <span class="str">'xxx'</span>)        ## insert elem at index 0<br>
          list.extend([<span class="str">'yyy'</span>, <span class="str">'zzz'</span>])  <span class="comment">## add list of elems at end</span><br>
          <span class="kwd">print</span> list  <span class="comment">## ['xxx', 'larry', 'curly', 'moe', 'shemp', 'yyy', 'zzz']</span><br>
          <span class="kwd">print</span> list.index(<span class="str">'curly'</span>)    ## 2<br>
          <br>
          list.remove(<span class="str">'curly'</span>)        <span class="comment"> ## search and remove that element</span><br>
          list.pop(1)                  ## removes and returns 'larry'<br>
          print list  <span class="comment">## ['xxx', 'larry', 'curly', 'moe', 'shemp', 'yyy', 'zzz']</span>
        </p>   
        <p class="lessonContent">
          Common error: note that the above methods do not *return* the modified list, they just modify the original list.
        </p>
  </div>
</div>