<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 2: Python Lists - Methods
    </p>
    <div class="learn">
      <p class="text lessonContent">
        List Methods
        Here are some other common list methods:
      </p>
        <ul class="lessonContent">
          
          <li>list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.</li>
          <li>list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.</li>
          <li>list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().</li>
          <li>  list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).</li>
          <li> list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)</li>
          <li> list.sort() -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)</li>
          <li>list.reverse() -- reverses the list in place (does not return it)</li>
          <li>list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).</li>
        </ul>
        <p class="lessonContent">
          Notice that these are *methods* on a list object, while len() is a function that takes the list (or string or whatever) as an argument.
        </p>
        <p class="exampleCode">
          list = ['larry', 'curly', 'moe']<br>
          list.append('shemp')         ## append elem at end <br>
          list.insert(0, 'xxx')        ## insert elem at index 0<br>
          list.extend(['yyy', 'zzz'])  ## add list of elems at end<br>
          print list  ## ['xxx', 'larry', 'curly', 'moe', 'shemp', 'yyy', 'zzz']<br>
          print list.index('curly')    ## 2<br>
          <br>
          list.remove('curly')         ## search and remove that element<br>
          list.pop(1)                  ## removes and returns 'larry'<br>
          print list  ## ['xxx', 'moe', 'shemp', 'yyy', 'zzz']<br>
        </p>   
  </div>
</div>