<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 3: Python Sorting - sort() method

    </p>
    <div class="text learn">
      <p class="lessonContent">
        As an alternative to sorted(), the sort() method on a list sorts that list into ascending order, e.g. list.sort(). The sort() method changes the underlying list and returns None, so use it like this:      
      </p>
      <p class="exampleCode">
        alist.sort()            ## correct <br>
        alist = blist.sort()    ## NO incorrect, sort() <br>
        returns None<br>
      </p>
      <p class="lessonContent">
        The above is a very common misunderstanding with sort() -- it *does not return* the sorted list. 
      </p>
        <ul class="lessonContent">
          <li>The sort() method must be called on a list; it does not work on any enumerable collection (but the sorted() function mentioned before works on anything). </li>
          <li>The sort() method predates the sorted() function, so you will likely see it in older code. </li>
          <li>The sort() method does not need to create a new list, so it can be a little faster in the case that the elements to sort are already in a list.</li>
        </ul>
    </div>
  </div>
</div>

