<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 2: Python Lists - While Loop
    </p>
    <div class="learn">
      <p class="text lessonContent">
        Python also has the standard while-loop, and the *break* and *continue* statements work as in C++ and Java, altering the course of the innermost loop. The above for/in loops solves the common case of iterating over every element in a list, but the while loop gives you total control over the index numbers. Here's a while loop which accesses every 3rd element in a list:
        <p class="exampleCode">
          <span class="comment">## Access every 3rd element in a list</span><br>
          i = <span class="lit">0</span><br>
          <span class="kwd">while</span> i &#60; len(a):<br>
          &nbsp; &nbsp;<span class="kwd">print</span> a[i]<br>
          &nbsp;&nbsp; i = i + <span class="lit">3</span>
        </p>   
  </div>
</div>