<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Chapter 2: Python Lists - While Loop
    </p>
    <div class="learn">
      <p class="text lessonContent">
        Python also has the standard while-loop, and the *break* and *continue* statements work as in C++ and Java, altering the course of the innermost loop. The above for/in loops solves the common case of iterating over every element in a list, but the while loop gives you total control over the index numbers. Here's a while loop which accesses every 3rd element in a list:
        <p class="exampleCode">
          ## Access every 3rd element in a list<br>
          i = 0<br>
          while i &lt len(a):<br>
            print a[i]<br>
            i = i + 3
        </p>   
  </div>
</div>