
.confirm{
    font-weight: 300;
    font-size: 13px;
  }
  

.italic{
    font-style: italic;
    padding-bottom: 5px;
}


.space{
    padding-right: 5px;
}
  
.areYouSure{
    font-weight: 300;
    font-size: 13.5px;
}

.popupTitle{
    font-weight: 400;
}

.leftButtons{
    left: 0;
    position: absolute;
    padding-left: 16px
}
// .rightButtons{
//     right: 0;
//     position: absolute;
//     padding-right: 16px;
// }