<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Exercise 3: Basic sorting exercises
    </p>
    <div class="learn">
      <p class="text lessonContent">
        Fill in the code for the functions below. main() is already set up to call the functions with a few different inputs, printing 'OK' when each function is correct. The starter code for each function includes a 'return' which is just a placeholder for your code.
        <br>
      </p>       
    </div>
  </div>
</div>