<div class="main">
  <div class="content">
    <p class ="text lesson-title">
      Introduction
    </p>
    <div class="text learn">
      <p class="lessonContent">
        Python is a dynamic, interpreted (bytecode-compiled) language. There are no type declarations of variables, parameters, functions, or methods in source code. This makes the code short and flexible, and you lose the compile-time type checking of the source code. Python tracks the types of all values at runtime and flags code that does not make sense as it runs.        <br>
      </p>
    </div>
  </div>
  <hr class="divider">
  <div class="subheading">
      <p class ="text lesson-title">
          Begining the Tutorial
      </p>
      <div class="text subheadingContent">
        <p class="lessonContent">
          To start, press the 'Next' button below. Working your way through the lesson plans, trying out exercises using the 'Run' button. When you are ready to submit your answer, click 'Check' button on the right. 
        </p>
      </div>
  </div>
</div>