

<div class="code">
    <div class="split-view">
        <div class="col-4 gradient">
            <!-- <app-into class="" *ngIf="count==0"></app-into> -->
            <app-lesson1  *ngIf="count==1"></app-lesson1>
            <app-lesson2 *ngIf="count==2"></app-lesson2>
            <app-lesson3 *ngIf="count==3"></app-lesson3>
            <app-lesson4 *ngIf="count==4"></app-lesson4>
            <app-lesson5 *ngIf="count==5"></app-lesson5>
            <app-lesson6 *ngIf="count==6"></app-lesson6>
            <app-lesson7 *ngIf="count==7"></app-lesson7>
            <app-lesson8 *ngIf="count==8"></app-lesson8>
            <app-lesson9 *ngIf="count==9"></app-lesson9>
            <app-lesson10 *ngIf="count==10"></app-lesson10>

            <div class="footer-code">
                <div class="container space-2">
                    <button type="button" class="btn btn-lg btn-primary back" (click)="back()"><span>Back</span></button>
                    <button type="button" class="btn btn-lg btn-primary next" (click)="next()"><span>Next</span></button>
                </div>                  
            </div>
        </div>
        <div class="col-4 editor">
            <textarea id="textbox" name="textbox" rows="4" cols="50">
# Please enter code here
</textarea>
            <div class="footer-code">
                <button type="button" class="btn btn-lg btn-primary run" onclick="runit()"><span>Run</span></button>
                <button type="button" class="btn btn-lg btn-secondary reset" onclick="check()"><span>Check</span></button>
                <button type="button" class="btn btn-lg btn-light reset" onclick="reset()"><span>Reset</span></button>

            </div>
        </div>

        <div class="col-4 terminal">
            <pre id="output" class="main"></pre> 
        </div>
    </div> 
</div>