<div class="code">
    <div class="split-view">
        <!-- LESSON -->
        <div class="col-5 noPad">
            <div class="gradient">
                <ol _ngcontent-c1="" class="breadcrumb"><li _ngcontent-c1="" class="breadcrumb-item lessonTitle">Introducing Python</li></ol>            
                <app-intro class="" *ngIf="count==0"></app-intro>
                <!-- CHAPTER 1 -->
                <app-lesson1 *ngIf="count==1"></app-lesson1>
                <app-lesson2 *ngIf="count==2"></app-lesson2>
                <app-lesson3 *ngIf="count==3"></app-lesson3>
                <app-lesson4 *ngIf="count==4"></app-lesson4>
                <app-lesson5 *ngIf="count==5"></app-lesson5>
                <app-exercise1 *ngIf="count==6"></app-exercise1>
                
                <!-- CHAPTER 2 -->
                <app-lesson6 *ngIf="count==7"></app-lesson6>
                <app-lesson7 *ngIf="count==8"></app-lesson7>
                <app-lesson8 *ngIf="count==9"></app-lesson8>
                <app-lesson9 *ngIf="count==10"></app-lesson9>
                <app-lesson10 *ngIf="count==11"></app-lesson10>
                <app-exercise2 *ngIf="count==12"></app-exercise2>

                <!-- CHAPTER 3 -->
                <app-lesson11 *ngIf="count==13"></app-lesson11>
                <app-lesson12 *ngIf="count==14"></app-lesson12>
                <app-lesson13 *ngIf="count==15"></app-lesson13>
                <app-lesson14 *ngIf="count==16"></app-lesson14>
                <app-exercise3 *ngIf="count==17"></app-exercise3>

                <!-- CHAPTER 4 -->
                <app-lesson15 *ngIf="count==18"></app-lesson15>
                <app-lesson16 *ngIf="count==19"></app-lesson16>
                <app-lesson17 *ngIf="count==20"></app-lesson17>
                <app-lesson18 *ngIf="count==21"></app-lesson18>
                <app-exercise4 *ngIf="count==22"></app-exercise4>

                <!-- CHAPTER 5 -->
                <app-lesson19 *ngIf="count==21"></app-lesson19>
                <app-lesson20 *ngIf="count==22"></app-lesson20>
                <app-lesson21 *ngIf="count==23"></app-lesson21>
                <app-lesson22 *ngIf="count==24"></app-lesson22>
                <app-lesson23 *ngIf="count==25"></app-lesson23>
                <app-lesson24 *ngIf="count==26"></app-lesson24>
            </div>
            <div class="container">
                <div *ngIf="count==5 || count ==11 || count == 16 || count == 21"  class="alert alert-info">
                    <strong>Please note!</strong> You will not be able to view this content after proceeding to the exercise. Are you sure you'd like to continue?
                </div>   
            </div>
            <div class="footer-code col-12">
                <div class="container space-2">
                    <hr>
                    <button type="button" class="btn btn-lg btn-primary back" (click)="back()"><span>Back</span></button>
                    <button type="button" class="btn btn-lg btn-primary next" (click)="next()"><span>Next</span></button>
                </div>                  
            </div>
        </div>
        <div class="col-7 column2">
            <div class="col-12 editor">

<textarea *ngIf="count==0 || count==1 || count==2 || count==3 || count==4 || count==5 || count==7 || count==8 || count==9 || count==10 || count==11 || count==13 || count==14 || count==15 || count==16 " id="textbox" name="textbox" rows="4" cols="50">
# Please enter code here
</textarea>

<!-- Exercise 1 -->
<textarea id="textbox" *ngIf="count==6" name="textbox"  class="textbox" rows="4" cols="50">
# A. donuts
# Given an int count of a number of donuts, return a string
# of the form 'Number of donuts: <count>', where <count> is the number
# passed in. However, if the count is 10 or more, then use the word 'many'
# instead of the actual count.
# So donuts(5) returns 'Number of donuts: 5'
# and donuts(23) returns 'Number of donuts: many'
def donuts(count):
    # +++your code here+++
    return


# B. both_ends
# Given a string s, return a string made of the first 2
# and the last 2 chars of the original string,
# so 'spring' yields 'spng'. However, if the string length
# is less than 2, return instead the empty string.
def both_ends(s):
    # +++your code here+++
    return


# C. fix_start
# Given a string s, return a string
# where all occurences of its first char have
# been changed to '*', except do not change
# the first char itself.
# e.g. 'babble' yields 'ba**le'
# Assume that the string is length 1 or more.
# Hint: s.replace(stra, strb) returns a version of string s
# where all instances of stra have been replaced by strb.
def fix_start(s):
    # +++your code here+++
      return
    
    
# D. MixUp
# Given strings a and b, return a single string with a and b separated
# by a space '<a> <b>', except swap the first 2 chars of each string.
# e.g.
#   'mix', pod' -> 'pox mid'
#   'dog', 'dinner' -> 'dig donner'
# Assume a and b are length 2 or more.
def mix_up(a, b):
    # +++your code here+++
    return


# Provided simple test() function used in main() to print
# what each function returns vs. what it's supposed to return.
def test(got, expected):
    if got == expected:
        prefix = ' OK '
    else:
        prefix = '  Try Again '
    print '%s got: %s expected: %s' % (prefix, repr(got), repr(expected))


# Provided main() calls the above functions with interesting inputs,
# using test() to check if each result is correct or not.
def main():
    print 'donuts'
    # Each line calls donuts, compares its result to the expected for that call.
    test(donuts(4), 'Number of donuts: 4')
    test(donuts(9), 'Number of donuts: 9')
    test(donuts(10), 'Number of donuts: many')
    test(donuts(99), 'Number of donuts: many')

    print
    print 'both_ends'
    test(both_ends('spring'), 'spng')
    test(both_ends('Hello'), 'Helo')
    test(both_ends('a'), '')
    test(both_ends('xyz'), 'xyyz')

    
    print
    print 'fix_start'
    test(fix_start('babble'), 'ba**le')
    test(fix_start('aardvark'), 'a*rdv*rk')
    test(fix_start('google'), 'goo*le')
    test(fix_start('donut'), 'donut')

    print
    print 'mix_up'
    test(mix_up('mix', 'pod'), 'pox mid')
    test(mix_up('dog', 'dinner'), 'dig donner')
    test(mix_up('gnash', 'sport'), 'spash gnort')
    test(mix_up('pezzy', 'firm'), 'fizzy perm')


# Standard boilerplate to call the main() function.
if __name__ == '__main__':
    main()
</textarea>

<!-- Exercise 2 -->
<textarea *ngIf="count==12" id="textbox" class="textbox" name="textbox" rows="4" cols="50">
# A. match_ends
# Given a list of strings, return the count of the number of
# strings where the string length is 2 or more and the first
# and last chars of the string are the same.
# Note: python does not have a ++ operator, but += works.
def match_ends(words):
    # +++your code here+++
    return

# B. Given a list of numbers, return a list where
# all adjacent == elements have been reduced to a single element,
# so [1, 2, 2, 3] returns [1, 2, 3]. You may create a new list or
# modify the passed in list.
def remove_adjacent(nums):
    # +++your code here+++
    return




















    











# Simple provided test() function used in main() to print
# what each function returns vs. what it's supposed to return.
def test(got, expected):
    if got == expected:
        prefix = ' OK '
    else:
        prefix = '  X '
    print '%s got: %s expected: %s' % (prefix, repr(got), repr(expected))


# Calls the above functions with interesting inputs.
def main():
    print 'match_ends'
    test(match_ends(['aba', 'xyz', 'aa', 'x', 'bbb']), 3)
    test(match_ends(['', 'x', 'xy', 'xyx', 'xx']), 2)
    test(match_ends(['aaa', 'be', 'abc', 'hello']), 1)
    print
    print 'remove_adjacent'
    test(remove_adjacent([1, 2, 2, 3]), [1, 2, 3])
    test(remove_adjacent([2, 2, 3, 3, 3]), [2, 3])
    test(remove_adjacent([]), [])

if __name__ == '__main__':
    main()
</textarea>

<!-- Exercise 3 -->
<textarea *ngIf="count==17" id="textbox"  class="textbox" name="textbox" rows="4" cols="50">
# A. front_x
# Given a list of strings, return a list with the strings
# in sorted order, except group all the strings that begin with 'x' first.
# e.g. ['mix', 'xyz', 'apple', 'xanadu', 'aardvark'] yields
# ['xanadu', 'xyz', 'aardvark', 'apple', 'mix']
# Hint: this can be done by making 2 lists and sorting each of them
# before combining them.
def front_x(words):
    # +++your code here+++
    return


# B. sort_last
# Given a list of non-empty tuples, return a list sorted in increasing
# order by the last element in each tuple.
# e.g. [(1, 7), (1, 3), (3, 4, 5), (2, 2)] yields
# [(2, 2), (1, 3), (3, 4, 5), (1, 7)]
# Hint: use a custom key= function to extract the last element form each tuple.
def sort_last(tuples):
    # +++your code here+++
    return


# C. Given two lists sorted in increasing order, create and return a merged
# list of all the elements in sorted order. You may modify the passed in lists.
# Ideally, the solution should work in "linear" time, making a single
# pass of both lists.
def linear_merge(list1, list2):
    # +++your code here+++
    return









# Simple provided test() function used in main() to print
# what each function returns vs. what it's supposed to return.
def test(got, expected):
    if got == expected:
    prefix = ' OK '
    else:
    prefix = '  X '
    print '%s got: %s expected: %s' % (prefix, repr(got), repr(expected))


# Calls the above functions with interesting inputs.
def main():
    print 'match_ends'
    test(match_ends(['aba', 'xyz', 'aa', 'x', 'bbb']), 3)
    test(match_ends(['', 'x', 'xy', 'xyx', 'xx']), 2)
    test(match_ends(['aaa', 'be', 'abc', 'hello']), 1)

    print
    print 'front_x'
    test(front_x(['bbb', 'ccc', 'axx', 'xzz', 'xaa']),
        ['xaa', 'xzz', 'axx', 'bbb', 'ccc'])
    test(front_x(['ccc', 'bbb', 'aaa', 'xcc', 'xaa']),
        ['xaa', 'xcc', 'aaa', 'bbb', 'ccc'])
    test(front_x(['mix', 'xyz', 'apple', 'xanadu', 'aardvark']),
        ['xanadu', 'xyz', 'aardvark', 'apple', 'mix'])

        
    print
    print 'sort_last'
    test(sort_last([(1, 3), (3, 2), (2, 1)]),
        [(2, 1), (3, 2), (1, 3)])
    test(sort_last([(2, 3), (1, 2), (3, 1)]),
        [(3, 1), (1, 2), (2, 3)])
    test(sort_last([(1, 7), (1, 3), (3, 4, 5), (2, 2)]),
        [(2, 2), (1, 3), (3, 4, 5), (1, 7)])


if __name__ == '__main__':
    main()
</textarea>

<!-- Exercise 4 -->
<textarea *ngIf="count==22" id="textbox"  class="textbox" name="textbox" rows="4" cols="50">
</textarea>

            </div> 
            <div class = "selectors">
                <div class="footer-code pad">
                    <button type="button" class="btn btn-lg btn-primary run" onclick="runit()"><span>Run</span></button>
                    <button type="button" class="btn btn-lg btn-secondary reset" (click)="checkCode()"><span>Check</span></button>
                    <button type="button" class="btn btn-lg btn-light reset" (click)="reset()"><span>Reset</span></button>
                </div> 
            </div>
            <hr class="divider">

            <!-- TERMINAL -->
            <div class="terminal">
                <div class="col-12">
                    <pre id="output" class="main"></pre> 
                </div>
             </div>
        </div>
    </div> 
</div>