<div class="main">
    <div class="content">
      <p class ="text lesson-title">
        Chapter 1: String % 

      </p>
      <div class="text learn">
        <p class="lessonContent">
            Python has a printf()-like facility to put together a string. The % operator takes a printf-type format string on the left (%d int, %s string, %f/%g floating point), and the matching values in a tuple on the right (a tuple is made of values separated by commas, typically grouped inside parentheses):
        </p>
        <p class="exampleCode">
            <span class="comment"># % operator</span><br>
            text = <span class="str">"%d little pigs come out, or I'll %s, and I'll %s, and I'll blow your %s down." </span>% (<span class="lit">3</span>, <span class="str">'huff'</span>, <span class="str">'puff'</span>, <span class="str">'house'</span>)
        </p>
        <p class="lessonContent">
          The above line is kind of long -- suppose you want to break it into separate lines. You cannot just split the line after the '%' as you might in other languages, since by default Python treats each line as a separate statement (on the plus side, this is why we don't need to type semi-colons on each line). To fix this, enclose the whole expression in an outer set of parenthesis -- then the expression is allowed to span multiple lines. This code-across-lines technique works with the various grouping constructs detailed below: &#40; &#41;, &#91; &#93;, &#123; &#125;
        </p>
        <p class="exampleCode">
          <span class="comment"># Add parentheses to make the long line work:</span><br>
          text = &#40;<br>
          <span class="str">"%d little pigs come out, or I'll %s, and I'll %s, and I'll blow your %s down."</span>
          % &#40;<span class="lit">3</span>, <span class="str">'huff'</span>, <span class="str">'puff'</span>, <span class="str">'house'</span>&#41;&#41;
          </p>
          <p class="lessonContent">
            That's better, but the line is still a little long. Python lets you cut a line up into chunks, which it will then automatically concatenate. So, to make this line even shorter, we can do this:
          </p>
          <p class="exampleCode">
              <span class="comment">  # Split the line into chunks, which are concatenated automatically by Python</span><br>
              text = &#40;<br>
              <span class="str">"%d little pigs come out, "</span><br>
              <span class="str">"or I'll %s, and I'll %s, "</span><br>
              <span class="str">"and I'll blow your %s down."</span><br>
              % &#40; <span class="lit">3</span>, <span class="str">'huff'</span>, <span class="str">'puff'</span>, <span class="str">'house'</span >&#41;&#41;	
          </p>
      </div>
    </div>
  </div>